<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This website is created by William Wibowo Ciptono using Express.js and Handlebar.js. It uses data from weatherstack.com and locationstack.com.

                Visit my other portfolio projects on <a href=https://github.com/lgamal/MyPortfolio>this link</a>.
            </p>
        </div>
        {{>footer}}
    </body>
</html>